<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-left margin-bottom>
    <!--<button ion-button round (click)="viewCategories()">View by Categories</button>-->
    <button ion-button color="dark" round small (click)="openAddMyTrip()" style="background-color: #FFBC00; color:black;">+ add my trip</button>
  </div>

  <div class="card-background-page">

    <ion-label text-center *ngIf="trips.length === 0">Please add new tip.</ion-label>

    <ion-card *ngFor="let item of trips">
      <img src="assets/img/hua-hin.jpg" />
      <div class="card-title">{{ item.name }}</div>
      <div class="card-subtitle">Thailand</div>
      <ion-card-content>
          <button ion-button color="dark" round small *ngFor="let day of item.days">Day {{day}}</button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
