<ion-header>
  <ion-navbar>
    <ion-title>Where To Go</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="searchInput($event)"></ion-searchbar>
  <div padding>
    <ion-badge classs="category">Add Categories</ion-badge>
    <div style="display: inline-block;">
      <ion-badge *ngFor="let item of categories" class="category">{{ item }}</ion-badge>
    </div>
  </div>

  <!-- Search Result List -->
  <div class="result-list">
    <ion-list>
      <ion-item *ngFor="let item of seachResults" (click)="openPlaceDetails(item)">
        <ion-thumbnail item-left>
          <img src="assets/img/placeholder-300x300.png">
        </ion-thumbnail>
        <h2>{{ item.title }}</h2>
      </ion-item>
    </ion-list>
  </div>

  <!-- Feature List -->

  <div padding-left padding-right class="feature-list">
    <div class="card" *ngFor="let item of features">
      {{ item }}
    </div>
  </div>

  <!-- <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list> -->
</ion-content>
