page-where-to-go {
  ion-badge.category {
    padding: 5px 10px;
    margin: 2px;
  }

  ion-list {
    margin-bottom: 15px !important;
  }

  .feature-list {
    overflow-y: hidden;
    display: inline-block;

    .card {
      display: inline-block;
      margin-right: 7px;
    }
  }
}
